<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="w3-light-grey">

    <!-- The jumbo header -->
    <header class="w3-container w3-teal w3-opacity w3-center" style="padding:128px 16px">
      <h1 class="w3-margin w3-jumbo">#LeCreo</h1>
      <p class="w3-xlarge">Tu opinión sí importa</p>
      <a  href="/#candidatos">
        <button class="w3-button w3-black w3-round-large">Ver candidatos</button>
      </a>
    </header>

    <!-- Grid what are we -->
    <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird w3-animate-left">
        <h1>¿Qué es #LeCreo?</h1>
        <h5 class="w3-padding-32">La plataforma donde tu percepción importa</h5>
        <p class="w3-text-grey">Durante las campañas y mandatos de los políticos, se llenan la boca de propuestas. ¿Qué tanto le crees?</p>
      </div>
      <div class="w3-third w3-center">
        <img class="w3-padding w3-animate-right" src="assets/like.png" style="width:100%" alt="Avatar">
      </div>
    </div>
  </div>

    <!-- Grid what are we -->
    <div class="w3-row-padding w3-white w3-padding-64 w3-container">
    <div class="w3-content">
        <h1 class = "w3-center">¿Cómo funciona?</h1>
        <p class="w3-text-grey w3-center">Rellenar con fotos (?)</p>
      </div>
    </div>
  </div>

  <!-- Load the candidates -->
  <h1 id="candidatos" class = "w3-center w3-padding-32">Candidatos</h1>

  <% candidates.forEach((candidate) => { %>
    <!-- Page Container -->
    <div class="w3-content w3-margin-top margin-top" style="max-width:1400px;">
      <!-- The Grid -->
      <div class="w3-row-padding">
        <!-- Left Column -->
        <div class="w3-third w3-animate-left">
          <div class="w3-white w3-text-grey w3-card-4">
            <a  href="<%= candidatesPath(candidate) %>">
              <div class="w3-display-container">
                <img src="<%= candidate.image %>" style="width:100%" alt="Avatar">
                <div class="w3-display-bottomleft w3-container w3-text-black">
                  <h2 class = "w3-text-white" ><%= candidate.name %></h2>
                </div>
              </div>
            </a>
            <div class="w3-container">
              <br>
              <p><%= candidate.slogan %><p>
            </div>
          </div><br>
        <!-- End Left Column -->
        </div>
        <!-- Right Column -->
        <div class="w3-twothird w3-animate-right">
          <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-male fa-fw w3-margin-right w3-xxlarge w3-text-teal"><a href="<%= candidatesPath(candidate) %>"></i><%=candidate.shortname%> <%=candidate.name%></a></h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Quién es?</b></h5>
              <p><%= candidate.bio %></p>
              <hr>
              <h5 class="w3-opacity"><b>Partido político</b></h5>
              <p><%= candidate.political_party %></p>
            </div>
          </div>
          <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-search fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Le creen?</h2>
            <div class="w3-container">
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">
                  <div class="w3-center w3-text-white">50%</div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        <!-- End Right Column -->
        </div>
      <!-- End Grid -->
      </div>
      <!-- End Page Container -->
    </div>
    <% }) %>

</body>
</html>
